.jumbotron
      {
          
          margin-top: 5%;
          margin-left: 20%;
         
          background:rgba(0,0,0,0.0001)
          
           
      }
     .background-image{
        background: url("/assets/depositphotos_74468913-stock-photo-contact-us-icons-on-cubes.jpg");
        background-repeat: no-repeat;
        background-size:100% 100%;
        background-position:initial;

     }
     h1{
         text-align: center;
     }
     label{
         color: rgb(1, 14, 6);
         text-transform: uppercase;
         font-weight: bolder;
     }